[Unit]
Description=Icarus Service
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/home/pi/Project-Icarus/
Type=idle
User=pi
ExecStart=/home/pi/Project-Icarus/projecticarus.sh > /home/pi/Desktop/icarus.log 2>&1

[Install]
WantedBy=multi-user.target
